#!/bin/csh

# NAME Self-Dual 2-basis for Lattice Theory

if ($#argv != 2) then
	echo "need 2 args: bin-directory ouput-extension"
	exit(1)
endif

set d=$1
set out=$2

# job abc

$d/prover9 -f abc.in > abc.$out

# job def

$d/mace4 -c -N20 -f def.in > def.$out

